<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Gerador de Senha</h1>
        <input id="input" type="text" placeholder="Senha gerada">
        <button id="execCopy"> Copy </button>
        <br><br>
        <input id="clickMe" class="gerar" type="button" value="Gerar Senha" onclick="gerador();" />
    </div>
    <script src="C:/Users/jmpri/creatorpassword/index.js"></script>
</body>
</html>